.sw, .feature-box, .hero {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1200px; }

.flex-col, .feature-box, .hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.sw p a, footer.footer p a, .hero a, .links a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-weight: 700; }
  .sw p a:hover, footer.footer p a:hover, .hero a:hover, .links a:hover {
    text-decoration: underline; }

.btn {
  position: relative;
  display: inline-block;
  padding: .6em 1.5em;
  overflow: hidden;
  background: none;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: var(--big-font);
  font-weight: 700;
  text-decoration: none;
  border-radius: 1.5em;
  transition: box-shadow .1s ease-out, color .25s ease-in-out;
  outline: none;
  vertical-align: middle;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    color: #0a1128; }
    .btn:hover::before, .btn:focus::before {
      left: 0; }
  .btn:active {
    box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.7); }
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -600px;
    width: 600px;
    height: 100px;
    background: #FFF;
    clip-path: polygon(0 0, 600px 0, 453.8px 100px, 0 100px);
    transition: .5s ease-out;
    z-index: -1; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0; }

.bg-wrapper.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vw;
  margin-top: -25vw;
  margin-bottom: -25vw;
  z-index: 1; }
  @media (max-width: 600px) {
    .bg-wrapper.footer {
      height: 500px; }
      .bg-wrapper.footer .footer-bg {
        top: 0;
        left: auto;
        right: 0;
        height: 500px;
        transform-origin: top right; } }

.footer-bg {
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 0;
  width: 400vh;
  height: 68.412vw;
  background: #235789;
  transform: rotate(-34.3769deg);
  transform-origin: top left; }

.blue-row, .purple-row, .content-row {
  position: relative;
  overflow: hidden;
  color: #FFF;
  margin: -400px 0;
  padding: 400px 0;
  z-index: 1; }
  .blue-row::before, .purple-row::before, .content-row::before {
    position: absolute;
    content: '';
    top: 400px;
    width: 1440px;
    height: 100vh; }
  .blue-row + .sw, .purple-row + .sw, .content-row + .sw {
    margin-top: 400px; }

@media (max-width: 1200px) {
  .blue-row {
    margin: -200px 0;
    padding: 200px 0; }
    .blue-row::before {
      top: 0; } }

.blue-row::before {
  left: 50%;
  margin-left: -360px;
  background: #235789;
  transform: rotate(-34.3769deg); }

@media (max-width: 1200px) {
  .purple-row {
    margin: -200px 0;
    padding: 200px 0; }
    .purple-row::before {
      top: 0; } }

.purple-row::before {
  right: 50%;
  margin-right: -360px;
  background: #140d4f;
  transform: rotate(34.3769deg); }

.content-row {
  margin: -800px 0;
  padding: 800px 0; }
  .content-row::before {
    top: 800px;
    right: 50%;
    height: calc(100% - 1000px);
    max-width: 1448px;
    margin-right: -728px;
    background: #140d4f;
    transform: skewY(-34.3769deg);
    transform-origin: top left; }
  @media (min-width: 501px) and (max-width: 1200px) {
    .content-row {
      margin: -600px 0;
      padding: 600px 0; }
      .content-row::before {
        height: calc(100% - 800px); } }
  @media (max-width: 500px) {
    .content-row {
      margin: -400px 0;
      padding: 400px 0; }
      .content-row::before {
        height: calc(100% - 600px); } }

@keyframes shootingStarRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(200vh); } }

@keyframes shootingStarLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-200vh); } }

h1 {
  margin-bottom: 0.1em;
  font-size: 32px;
  font-weight: 700; }

h2 {
  margin-bottom: 1em;
  font-size: 20px; }

h3 {
  font-size: 18px;
  font-weight: 700; }

p {
  font-size: 14px;
  line-height: 1.5em; }

.text-left {
  text-align: left; }
  .text-left .flex-col {
    align-items: inherit; }

.text-right {
  text-align: right;
  align-items: flex-end; }
  .text-right .flex-col {
    align-items: inherit; }

:root {
  --big-font: 16px; }

@media (min-width: 480px) {
  h1 {
    font-size: calc(2rem + ((1vw - 4.8px) * 5.6944)); }
  h2 {
    font-size: calc(1.25rem + ((1vw - 4.8px) * 1.9444)); }
  h3 {
    font-size: calc(1.125rem + ((1vw - 4.8px) * 1.25)); }
  p {
    font-size: calc(0.875rem + ((1vw - 4.8px) * 0.4167)); }
  :root {
    --big-font: calc(1rem + ((1vw - 4.8px) * 0.5556)); } }

@media (min-width: 1920px) {
  h1 {
    font-size: 114px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 36px; }
  p {
    font-size: 20px; }
  :root {
    --big-font: 24px; } }

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 750px;
  margin-top: 150px; }
  .list li {
    position: relative;
    outline: none; }
    .list li a {
      display: inline-block;
      color: #FFF;
      transition: .1s ease-out;
      z-index: 2; }
    .list li > span, .list li > a {
      position: relative;
      display: flex;
      height: 206px;
      width: 300px;
      padding: 2em;
      font-size: var(--big-font);
      line-height: 1.5em;
      box-sizing: border-box;
      align-items: center;
      text-align: center;
      justify-content: center;
      background: rgba(8, 14, 32, 0.25);
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      transition: .2s ease-out;
      z-index: 1; }
    .list li:hover > span, .list li:hover > a, .list li:focus > span, .list li:focus > a {
      transform: scale(1.1);
      background: #050814;
      z-index: 50; }
    .list li:hover .expand, .list li:focus .expand {
      display: flex; }
    .list li .expand {
      display: none;
      position: absolute;
      top: 100%;
      width: 200%;
      height: 200%;
      margin-top: -103px;
      padding: 70px 80px;
      align-items: center;
      text-align: center;
      justify-content: center;
      background: #060b1a;
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      box-sizing: border-box;
      pointer-events: none;
      z-index: 20; }

.skills {
  text-align: right; }
  .skills .list {
    margin-left: auto;
    margin-right: -150px; }
    .skills .list li .expand {
      margin-left: -300px;
      animation: slideInTopRight .5s forwards ease-out; }

.portfolio .list {
  justify-content: flex-end;
  margin-left: -150px; }
  .portfolio .list li .expand {
    margin-right: -300px;
    animation: slideInTopLeft .35s forwards ease-in-out; }

@keyframes slideInTopLeft {
  0% {
    clip-path: polygon(50% 0, 25% 25%, 50% 0, 25% 25%); }
  25% {
    clip-path: polygon(50% 0, 75% 25%, 50% 50%, 25% 25%); }
  75% {
    clip-path: polygon(50% 0, 75% 25%, 25% 75%, 0 50%); }
  100% {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); } }

@keyframes slideInTopRight {
  0% {
    clip-path: polygon(50% 0, 75% 25%, 50% 0, 75% 25%); }
  25% {
    clip-path: polygon(50% 0, 75% 25%, 50% 50%, 25% 25%); }
  75% {
    clip-path: polygon(50% 0, 100% 50%, 75% 75%, 25% 25%); }
  100% {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); } }

@media (max-width: 1820px) {
  .skills .list {
    margin-right: 0; }
  .portfolio .list {
    margin-left: 0; } }

@media (max-width: 1300px) {
  .list {
    justify-self: flex-end; } }

@media (min-width: 1301px) {
  .skills .list li {
    margin-top: -103px; }
    .skills .list li:nth-child(4n+3) {
      margin-left: 150px; }
    .skills .list li .expand {
      margin-left: -300px; }
  .portfolio .list li {
    margin-top: -103px; }
    .portfolio .list li:nth-child(4n) {
      margin-right: 150px; }
    .portfolio .list li .expand {
      margin-right: -300px; } }

@media (min-width: 851px) and (max-width: 1300px) {
  .list {
    margin-top: 110px;
    width: 720px; }
    .list li > span, .list li > a {
      width: 240px;
      height: 164.2px; }
    .list li .expand {
      margin-top: -82.1px; }
  .skills .list li {
    margin-top: -82.1px; }
    .skills .list li:nth-child(4n-1) {
      margin-left: 120px; }
    .skills .list li .expand {
      margin-left: -240px; }
  .portfolio .list li {
    margin-top: -82.1px; }
    .portfolio .list li:nth-child(4n-1) {
      margin-left: 120px; }
    .portfolio .list li:nth-child(4n) {
      margin-right: 120px; }
    .portfolio .list li .expand {
      margin-right: -240px; } }

@media (min-width: 501px) and (max-width: 850px) {
  .list {
    margin-top: 0;
    width: 240px; }
    .list li:nth-child(3n-2) {
      margin-top: -82.1px; }
    .list li:nth-child(3n-1) {
      margin-top: -82.1px;
      margin-left: -120px; }
    .list li:nth-child(3n) {
      margin-top: -82.1px;
      margin-right: -120px; }
    .list li:first-child {
      margin-top: 0; }
    .list li > span, .list li > a {
      width: 240px;
      height: 164.2px; }
    .list li .expand {
      margin-top: -82.1px; }
  .skills .list li .expand {
    margin-left: -240px; }
  .skills .list li:nth-child(3n-2) .expand {
    margin-top: 0;
    margin-left: -120px; }
  .skills .list li:nth-child(3n-1) .expand {
    margin-left: 0;
    margin-right: -120px;
    animation: slideInTopLeft .35s forwards ease-in-out; }
  .portfolio .list li:nth-child(3n-2) .expand {
    margin-top: 0;
    margin-left: -120px; }
  .portfolio .list li:nth-child(3n) .expand {
    margin-left: -240px;
    animation: slideInTopRight .35s forwards ease-in-out; } }

@media (max-width: 850px) {
  .list {
    margin: 0 auto !important; } }

@media (max-width: 500px) {
  .list {
    width: 90%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: initial; }
    .list li > span, .list li > a {
      height: auto;
      width: 100%;
      padding: 0;
      clip-path: none; }
    .list li .expand {
      left: 0;
      width: 100%;
      margin-top: 0 !important;
      margin-left: 0 !important;
      clip-path: none;
      animation: none !important; } }

body {
  position: relative;
  background: #0a1128;
  font-family: 'Raleway', sans-serif; }
  body > .sw h1, body > .sw h2, body > .sw h3, body > .sw p > span {
    background: #0a1128; }

.sw {
  position: relative;
  z-index: 2;
  color: #FFF; }
  .sw p {
    margin: 1em 0; }
    .sw p + p {
      margin-top: 0; }
  @media (min-width: 901px) {
    .sw > p {
      max-width: 73.5%; } }
  .sw .cols {
    margin: 48px 0; }

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -30px !important; }
  .cols > * {
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 901px) {
      .cols > * {
        width: 25%; } }
    @media (min-width: 501px) and (max-width: 900px) {
      .cols > * {
        width: 50%; } }

@media (min-width: 901px) {
  .flex-col.span-2 {
    width: 50%; }
  .flex-col.span-3 {
    width: 75%; }
  .flex-col.span-4 {
    width: 100%; }
  .flex-col.offset-1 {
    margin-left: 25%; }
  .flex-col.offset-2 {
    margin-left: 50%; }
  .flex-col.offset-3 {
    margin-left: 75%; } }

.mb-1, .my-1 {
  margin-bottom: 8px; }

.mb-2, .my-2 {
  margin-bottom: 16px; }

.mb-3, .my-3 {
  margin-bottom: 32px; }

.mb-4, .my-4 {
  margin-bottom: 48px; }

.mb-5, .my-5 {
  margin-bottom: 64px; }

.mt-1, .my-1 {
  margin-top: 8px; }

.mt-2, .my-2 {
  margin-top: 16px; }

.mt-3, .my-3 {
  margin-top: 32px; }

.mt-4, .my-4 {
  margin-top: 48px; }

.mt-5, .my-5 {
  margin-top: 64px; }

.ml-1, .mx-1 {
  margin-left: 8px; }

.ml-2, .mx-2 {
  margin-left: 16px; }

.ml-3, .mx-3 {
  margin-left: 32px; }

.ml-4, .mx-4 {
  margin-left: 48px; }

.ml-5, .mx-5 {
  margin-left: 64px; }

.mr-1, .mx-1 {
  margin-right: 8px; }

.mr-2, .mx-2 {
  margin-right: 16px; }

.mr-3, .mx-3 {
  margin-right: 32px; }

.mr-4, .mx-4 {
  margin-right: 48px; }

.mr-5, .mx-5 {
  margin-right: 64px; }

.feature-box {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  max-height: 1200px;
  z-index: 10; }

.input-group {
  position: relative;
  margin-bottom: 30px; }
  .input-group label {
    display: block;
    font-size: var(--big-font); }
  .input-group .form-label {
    position: absolute;
    top: .6em;
    left: 1.5em;
    right: 1.5em;
    padding: 2px;
    line-height: 1.5em;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
    opacity: 0.5; }
    .input-group .form-label:hover {
      opacity: 1; }
  .input-group .form-control {
    display: block;
    width: 100%;
    font-size: var(--big-font);
    line-height: 1.5em;
    text-align: inherit;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .input-group .form-control ~ .form-label {
      cursor: text; }
    .input-group .form-control:focus ~ .form-label {
      opacity: 1; }
    .input-group .form-control.has-text ~ .form-label {
      display: none; }

.form-control {
  padding: .6em 1.5em;
  background: none;
  border: 2px solid #FFF;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  border-radius: 1.5em; }

.main-nav {
  position: fixed;
  top: 5vw;
  right: 50%;
  margin-right: -600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px 30px;
  z-index: 100;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .main-nav.sticky {
    top: 0;
    right: 0;
    margin: 0 !important;
    background: #408210;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    .main-nav.sticky a {
      background: none; }
  .main-nav a {
    font-size: 1.2em;
    font-weight: 700;
    color: #FFF;
    background: #0a1128;
    margin-right: -10px;
    margin-bottom: 2px;
    padding: 5px;
    border-right: 5px solid transparent;
    text-decoration: none;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
    outline: none; }
    .main-nav a:hover, .main-nav a:focus, .main-nav a.active {
      border-color: #FFF; }

footer.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 1200px;
  padding: 5%;
  color: #FFF;
  font-weight: 700;
  text-align: right;
  z-index: 9; }
  footer.footer .local-info {
    grid-column-start: 3;
    max-width: 360px;
    justify-self: flex-end;
    font-size: 2em;
    font-weight: 400; }
    footer.footer .local-info span {
      font-weight: 700; }
  footer.footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-column-start: 3; }
    footer.footer .links a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      margin-bottom: 20px; }
      footer.footer .links a:last-child {
        margin-bottom: 0; }
      footer.footer .links a svg {
        margin-left: 20px; }
  footer.footer .location {
    grid-column-start: 2; }
  footer.footer .location h3 {
    margin-bottom: 0.6em; }

.hero {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  max-height: 1200px;
  z-index: 10;
  color: #FFF; }
  .hero.mini {
    min-height: 50vh; }
  .hero:not(.no-bg) h1, .hero:not(.no-bg) h2, .hero:not(.no-bg) p span {
    background: #0a1128; }
  .hero p {
    max-width: 540px;
    margin-bottom: 40px; }
  .hero a {
    position: relative; }
    .hero a:hover .tooltip {
      margin-top: 10px;
      opacity: 1; }
    .hero a.active {
      text-decoration: underline; }
    .hero a .tooltip {
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      white-space: nowrap;
      margin-top: 18px;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: .25s ease-out;
      transition: .25s ease-out; }
  .hero svg {
    margin-right: 20px; }
  .hero .btn {
    margin-bottom: 45px; }
    .hero .btn:not(:last-of-type) {
      margin-right: 20px; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .links a {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .links a:hover svg {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .links a:active svg {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); }
  .links svg {
    width: 7vw;
    max-width: 64px;
    min-width: 38px;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out; }

.slide-fade-in {
  -webkit-animation: slideFadeIn 1.25s cubic-bezier(0.24, 0.88, 0.33, 0.92);
  animation: slideFadeIn 1.25s cubic-bezier(0.24, 0.88, 0.33, 0.92); }

@-webkit-keyframes slideFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@media (max-width: 1320px) {
  .main-nav {
    margin-top: -20px;
    margin-right: -30px;
    right: 5%; } }

@media (max-width: 850px) {
  footer.footer {
    grid-template-columns: repeat(2, 1fr); }
    footer.footer .location {
      grid-column-start: 1; }
    footer.footer .local-info {
      font-size: 1.6em; }
    footer.footer .links, footer.footer .local-info {
      grid-column-start: 2; } }

/*# sourceMappingURL=maps/main.css.map */
