// Layout
$site-width: 1200px;

// Golden Measurements
$slope-angle: 34.3769deg;
$xs-band-size: 26.1311vw;
$small-band-size: 42.281vw;
$large-band-size: 68.412vw;

// Colors
$red: rgba(247, 23, 53, 1);
$green: rgba(64, 130, 16, 1);
$blue: rgba(35, 87, 137, 1);
$dark-blue: rgba(10, 17, 40, 1);
$yellow: rgba(234, 228, 46, 1);