
// Body
$site-width: 1200px;
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #235789;
$dark-blue: #0a1128;
$indigo: #6574cd;
$purple: #140d4f;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #eae42e;
$green: #408210;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Golden Measurements
$slope-angle: 34.3769deg;
$xs-band-size: 26.1311vw;
$small-band-size: 42.281vw;
$large-band-size: 68.412vw;
